<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>MyAppStore</id>
<name>十五楼网络应用终端</name>
<url>https://www.birdol.com</url>
<note>十五楼网络应用终端，可以在线下载和安装十五楼网络工作室作品</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>十五楼的鸟儿</name>
  <email>admin@birdol.com</email>
  <url>https://www.birdol.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>2.1</version>
<pubdate>2017-06-30</pubdate>
<modified>2018-06-28</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>